<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
</configuration>
